{% if files_check.results | map(attribute='stat.exists') | min %}
[[inputs.exec]]
  commands = [
    "bash -c 'printf \"conntrack conntrack_max=%s,conntrack_count=%s\\n\" \"$(cat /proc/sys/net/netfilter/nf_conntrack_max)\" \"$(cat /proc/sys/net/netfilter/nf_conntrack_count)\"'"
  ]
  data_format = "influx"
  interval = "60s"
{% endif %}

[[inputs.prometheus]]
  urls = [
    {% for port in endpoint_ports %}
    "http://localhost:{{ port }}/metrics"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
  metric_version = 2

[[outputs.prometheus_client]]
  listen = ":9273"
  path = "/metrics"
  expiration_interval = "60s"
