[[inputs.prometheus]]
  urls = [
    {% for port in endpoint_ports %}
    "http://localhost:{{ port }}/metrics"{% if not loop.last %},{% endif %}
    {% endfor %}
  ]
  metric_version = 2

[[outputs.prometheus_client]]
  listen = ":9273"
  path = "/metrics"
  expiration_interval = "60s"
