---
extends: default
rules:
  truthy:
    allowed-values:
      # Ansible playbooks conventionally use 'yes' and 'no'.
      - 'yes'
      - 'no'
      # Other YAML files should use 'true' and 'false'.
      - 'true'
      - 'false'
  indentation:
    spaces: 2
    indent-sequences: true
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: false
  line-length:
    max: 120
    ignore: /artifacts.yml
  empty-values:
    forbid-in-block-mappings: true
    forbid-in-flow-mappings: true
ignore: |
  .git
  /ansible/requirements.yml
  /inventories/
  /data/static_backends/cww.yaml
