# required for Iris run
ansible
dnspython
pywinrm

# required for tests:
ansible-lint
bandit
confluent-kafka
more-itertools
mypy
pylint
pytest
pytest-cov
pytest-subtests
safety
types-PyYAML
types-requests
yamale
yamllint

# required for shell scripts
jq
yq

# required for s3 (pure storage) communication
awscli~=1.36.0  # downgraded due to s3transfer's checksum https://github.com/aws/aws-cli/issues/9214

# required for simulation
netaddr
