# required for Iris run
ansible
pywinrm

# required for tests:
ansible-lint
bandit
confluent-kafka
mypy
pylint
pytest
pytest-cov
pytest-subtests
safety
yamale
yamllint

# required for shell scripts
jq
yq

# required for simulation
netaddr

# required for ceph communication
s3cmd
