# required for Iris run
ansible
pywinrm

# required for tests:
ansible-lint
bandit
confluent-kafka
kafka-python
mypy
pylint
pytest
pytest-cov
safety
yamllint

# required for shell scripts
jq
yq

# required for simulation
netaddr

# required for ceph communication
s3cmd
