# ### This file is deployed by Iris ###

# HAProxy configuration for {{ clustered_instance_name }} on {{ machine_name }} ({{ inventory_hostname }})


# Global settings
# ###############

########################################
###### GLOBAL AND DEFAULT SETTINGS #####
########################################



global
#########
daemon

# Most of our instances use 1 process and 8 threads; the only exception is AU2 Ceph,
# which uses 32 processes (and no nbthread setting).

nbproc {{ instance.processes | default(1) }}
nbthread {{ instance.threads | default(8) }}

# Logging directive; in some cases, we need to extend the log line length to 4096.


#hard-stop-after 1s #affects streams (RDP?), avoid it
log 127.0.0.1 len 4096 local7

# The cipher profile.

{% if ciphers_tls_v1_3 | length > 0 %}
ssl-default-bind-ciphersuites {{ ciphers_tls_v1_3 | join(':') }}
{% endif %}
{% if ciphers_upto_tls_v1_2 | length > 0  %}
ssl-default-bind-ciphers {{ ciphers_upto_tls_v1_2 | join(':') }}
{% endif %}
ssl-default-bind-options {{ cipher.bind_options | join(' ') }}

ssl-default-server-options ssl-min-ver {{ cipher.ssl_min }} ssl-max-ver {{ cipher.ssl_max }}

tune.ssl.default-dh-param 4096
ssl-server-verify none

# Various other settings, mostly uniform although maxconn is sometimes higher.

maxconn {{ instance.maxconn | default(200000) }}
stats socket {{ stats.ports.file }} mode 660 expose-fd listeners level admin
server-state-file /var/run/haproxy/global-state
stats socket 127.0.0.1:{{ stats.ports.socket }} level admin
stats timeout 2m



defaults
#########

# Mode http or tcp:
mode    {{ proxy.mode }}


# Timeouts; we will configure these by profiles, potentially with overrides

timeout client          {{ "%4d" | format(timeouts.client) }}s
timeout connect         {{ "%4d" | format(timeouts.connect) }}s
timeout server          {{ "%4d" | format(timeouts.server) }}s
timeout tunnel          {{ "%4d" | format(timeouts.tunnel) }}s
timeout http-keep-alive {{ "%4d" | format(timeouts.http_keep_alive) }}s
timeout http-request    {{ "%4d" | format(timeouts.http_request) }}s
timeout queue           {{ "%4d" | format(timeouts.queue) }}s
timeout tarpit          {{ "%4d" | format(timeouts.tarpit) }}s

# Proxying options, including balance leastconn vs roundrobin and the like.

fullconn {{ proxy.fullconn }}
option redispatch
balance {{ proxy.balance }}
option forwardfor
option allbackups
retries 3
default-server inter 3s rise 2 fall 3 maxconn 5000 resolve-prefer ipv4 check init-addr libc,last
load-server-state-from-file none
dynamic-cookie-key WTGLB
#option http-server-close #breaks login keep it disabled

# Note: The ##haproxy-prod-sqlreadonly.cfg.j2## config in US2 appends ",none" to the
# ##default-server## line to ensure that the simulations pass even if the backends are
# unreachable/down as the current simulations cannot resolve hostnames against our BIND
# instances. This will likely be different in the new, isolated simulations.


# Logging configuration
log global
{% if proxy.mode == 'http' %}
log-format '{"instance_name" : "{{ instance.log_name }}", "client_ip" : "%ci", "timestamp" : "%T", "http_request" : "%r", "http_status" : "%ST", "bytes_read" : "%B",  "client_port" : "%cp", "backend_source_port": "%bp", "accept_date_milliseconds" : "%ms", "frontend_name_transport" : "%ft", "backend_name" : "%b", "server_name" : "%s", "Th_Ti_TR" : "%Tq", "Tw" : "%Tw", "Tc" : "%Tc", "response_time" : "%Tr", "Tt" : "%Tt", "termination_state" : "%tsc", "actconn" : "%ac", "frontend_concurrent_connections" : "%fc", "backend_concurrent_connections" : "%bc", "srv_conn" : "%sc", "retries" : "%rc", "srv_queue" : "%sq", "backend_queue" : "%bq", "captured_request_cookie" : "%CC", "captured_response_cookie" : "%CS", "captured_request_headers" : "%hrl", "captured_response_headers" : "%hsl", "ssl_ciphers" : "%sslc", "ssl_version" : "%sslv"}'
{% else %}
log-format '{"instance_name" : "{{ datacentre }}-{{ env }}-{{ context }}-{{ function }}", "client_ip" : "%ci", "timestamp" : "%T", "http_status" : "%ST", "bytes_read" : "%B",  "client_port" : "%cp", "backend_source_port": "%bp", "accept_date_milliseconds" : "%ms", "frontend_name_transport" : "%ft", "backend_name" : "%b", "server_name" : "%s",  "Tw" : "%Tw", "Tc" : "%Tc", "Tt" : "%Tt", "termination_state" : "%ts", "actconn" : "%ac", "frontend_concurrent_connections" : "%fc", "backend_concurrent_connections" : "%bc", "srv_conn" : "%sc", "retries" : "%rc", "srv_queue" : "%sq", "backend_queue" : "%bq", "captured_request_headers" : "%hrl", "captured_response_headers" : "%hsl"}'
{% endif %}

# TODO escape values appropriately for JSON, particularly those that come from the
# remote end. HAProxy has a ##json()## converter for this purpose.


########################################
###### STATS ###########################
########################################



listen stats
bind :{{ stats.ports.web }}
mode http
stats enable
stats show-node
stats realm Haproxy\ Statistics
stats uri /
#stats refresh 10s
stats show-legends

{% if instance.processes | default(1) > 1 %}
bind-process 1
{% endif %}

# This should also have a log-format directive, the same as an http main frontend (or the
# log directive may be global).


#######################################
###### FRONTEND #######################
#######################################

# We use a full proxy rather than a frontend in order to XXXXX



listen l7Frontend
#max number of connections to be sent to this frontend
maxconn {{ proxy.maxconn }}
#needs full conn to instance the dynamic backend
fullconn {{ proxy.fullconn }}



errorfile 403 /usr/local/etc/haproxy/sorry.http
errorfile 503 /usr/local/etc/haproxy/sorry.http



capture request header Host len 32
capture request header user-agent len 150



#breaks Exchange Web
#http-response set-header X-Frame-Options DENY



{% if not simulation %}
bind {% for item in proxy.ports.http.plaintext %}:{{item}}{% if loop.index < loop.length %},{% endif %}{% endfor %}
{% else %}
bind :{{ haproxy_http_port }}
{% endif %}
{% if certificates | default([]) %}
bind :{{ haproxy_https_port }} ssl crt /usr/local/etc/haproxy/certs/ alpn h2,http/1.1
{% endif %}

# TODO: the certificates currently cause problems with the line length limit, use a
# certificate directory instead.


# ACLs and actions
# ################

{% for name, acl in acls.items() %}
# {{ name }} ACL ({{ acl.fname }})
{{ acl.description | comment }}
{% for test in acl.tests %}
acl {{ name }} {{ test }}
{% endfor %}

{% endfor %}


{% for name, actionset in actions.items() | sort(attribute='1.order,0') %}
# {{ name }} ({{ actionset.fname }}; order: {{ actionset.order }})
{{ actionset.description | comment }}
{% for action in actionset.actions %}
{{ action }}
{% endfor %}

{% endfor %}


### HTTP to HTTPS REDIRECTS (worth redirecting http to https for the domains covered by wildcard certificates) *** THESE ONES GO AS LAST REDIRECTS ***
# TODO reinstate in some way
#redirect scheme https if star_wisetechglobal_com !{ ssl_fc }

# If no other backend has been selected, use the host name (with . replaced by _); in a
# generated config, we could either retain this or generate individual "use backend if"
# actions.


#######################################
###### BACKENDS #######################
#######################################

# Dynamic Backends
# ################

{% if dynamic_backends is defined %}
{%   for server_name,server_content in dynamic_backends.items()%}
{%     for name,backends_list in server_content.items() %}
{%       for backend in backends_list %}
{%         if backend.visited is not defined %}
backend {{ name | replace(".", "_") }}
{%           if backend.balance is defined %}balance {{ backend.balance }}
{%           endif %}
option httpchk HEAD {{ backend.health_check }} HTTP/1.1\r\nHost:\ {{ name }}
http-check expect rstatus {{ backend.check_expect | default('200|401|403|302|405') }}
{%           if backend.cookie.enabled %}
cookie {{ backend.cookie.name | upper }} insert indirect nocache dynamic
{%           endif %}
default-server inter 10000 {%- if backend.encryption is defined %} ssl{% endif %}

{%           for iterating_server_name,iterating_server_content in dynamic_backends.items() %}
{%             if name in iterating_server_content %}
{%               for iterating_backend in iterating_server_content[name] %}
server {{ iterating_server_name | split('.') | first }}-{{ loop.index }} {{ iterating_backend.server_ip }}:{{ iterating_backend.port }} check
{%                 set x=iterating_backend.__setitem__("visited", "True") %}
{%               endfor %}
{%             endif %}
{%           endfor %}

{%         endif %}
{%       endfor %}
{%     endfor %}
{%   endfor %}
{% endif %}


# Static Backends
# ###############

{% for name, backend in static_backends.items() %}
# {{ name }}
#
backend {{ name | replace(".", "_") }}
{%   if backend.balance is defined %}balance {{ backend.balance }}
{%   endif %}
{%   if backend.fullconn is defined %}fullconn {{ backend.fullconn }}
{%   endif %}
option httpchk HEAD {{ backend.health_check }} HTTP/1.1\r\nHost:\ {{ name }}
http-check expect rstatus {{ backend.check_expect | default('200|401|403|302|405') }}
{%   if backend.cookie is defined %}
cookie {{ backend.cookie.name }} insert indirect nocache dynamic
{%- if backend.cookie.secure | default(false) %} secure{% endif %}

{%   endif %}
{% if backend.default_server is defined %}
default-server {{ backend.default_server -}}
{% else %}
default-server inter 10000 {%- if backend.encryption | default(false) %} ssl{% endif %}
{% endif %}

{% if backend.sorry_pages is defined %}
{%   for sorry_page in backend.sorry_pages %}
errorfile {{ sorry_page.code }} /usr/local/etc/haproxy/sorry_pages/{{ sorry_page.file }}
{%   endfor %}
{% endif -%}

{%   for server in backend.servers %}
server {{ server.name }}
{%-    if simulation %} 127.0.0.1:
{%-      if backend.encryption | default(false) -%}
8082 check
{%       else -%}
8081 check
{%       endif -%}
{%-    else -%}
{{ server.ip }}:{{ server.port }} {{ server.settings | default('check') }}
{%     endif %}
{%   endfor %}

{% endfor %}


# Note that the connections to the server backends are unencrypted, to allow the Palo
# Altos to inspect traffic. This is a trade-off; best practices would suggest encrypting
# the traffic to the backends, but then the Palos wouldn't be able to inspect it.
