HTTP/1.1 503 Service Unavailable
Cache-Control: no-cache
Connection: close
Content-Type: text/html

<html>
<head>
<title>Website Offline</title>
</head>
<body style="font-family:Arial; margin: 30px;">
<h1>This website is currently undergoing maintenance</h1>
<h2>Please check back soon.</h2>
<p id="myaccount_message" style="display: none;">My Account and eRequests have a daily maintenance window from 7:00am - 7:10am <span id="timezone">Australian Eastern Time</span>. Your patience is appreciated as we deploy enhancements to our product.</p>

<script>
cur_url = new URL(window.location.href)
if (cur_url.hostname.match(/myaccount(?:-portal)?\.cargowise\.com$/)) {
  document.getElementById('myaccount_message').style.display = 'block';

  (function () {
    try {
      if (window.Intl && Intl.DateTimeFormat) {
        const parts = new Intl.DateTimeFormat("en-AU", {
          timeZone: "Australia/Sydney",
          timeZoneName: "long"
        }).formatToParts(new Date());

        const tzPart = parts.find(p => p.type === "timeZoneName");
        if (tzPart) {
          document.getElementById("timezone").textContent = tzPart.value;
        }
      }
    } catch (e) {
      // fallback: Do nothing.
    }
  })();  
}
</script>

</body>
</html>
