HTTP/1.1 503 Service Unavailable
Cache-Control: no-cache
Connection: close
Content-Type: text/html

<html>
<head>
<title>Website Offline</title>
</head>
<body style="font-family:Arial; margin: 30px;">
<h1>This website is currently offline</h1>
<p>We are currently performing maintenance on this website.  Please check back soon.</p>
</body>
</html>
