HTTP/1.1 503 Service Unavailable
Cache-Control: no-cache
Connection: close
Content-Type: text/html

<html>
<head>
<title>Website Offline</title>
</head>
<body style="font-family:Arial; margin: 30px;">
<h1>This website is currently undergoing maintenance</h1>
<h2>Please check back soon.</h2><p>My Account and eRequests have a daily maintenance window from 7:00am - 7:10am <span id="timezone">Australian Eastern Time</span>. Your patience is appreciated as we deploy enhancements to our product.</p>

<script>
  const tz = new Intl.DateTimeFormat("en-AU", {
    timeZone: "Australia/Sydney",
    timeZoneName: "long"
  })
  .formatToParts(new Date())
  .find(p => p.type === "timeZoneName")
  .value;

  document.getElementById("timezone").textContent = `${tz}`;
</script>

</body>
</html>
