# Static Backends
# ###############

{% for name, backend in static_backends.items() %}
# {{ name }}
#
{% if backend.full_override is defined %}
### FULL OVERRIDE ###
#
{{ backend.full_override }}
{% else %}
backend {{ name | replace(".", "_") }}
{%   if backend.balance is defined %}balance {{ backend.balance }}
{%   endif %}
{%   if backend.fullconn is defined %}fullconn {{ backend.fullconn }}
{%   endif %}
{%   if backend.http_health_check.enabled %}
option httpchk
http-check send meth {{ backend.http_health_check.method | default('HEAD') }} uri {{ backend.http_health_check.http_path }} ver HTTP/1.1 hdr Host {{ name }}
{%-    if backend.http_health_check.xforwardedproto_header | default(true) %} hdr X-Forwarded-Proto https
{%     endif %}
http-check expect rstatus {{ backend.http_health_check.check_expect | default('200|401|403|302|405') }}
{%   endif %}
{%   if backend.cookie is defined %}
cookie {{ backend.cookie.name }} insert indirect nocache dynamic httponly attr "SameSite=None"
{%- if backend.cookie.secure | default(true) %} secure{% endif %}

{%   endif %}
{% if backend.default_server is defined %}
default-server {{ backend.default_server -}}
{% else %}
{# TODO: Support override interval #}
default-server inter 10000 {%- if backend.encryption | default(false) %} ssl{% endif %}
{% endif %}

{% if backend.sorry_pages is defined %}
{%   for sorry_page in backend.sorry_pages %}
errorfile {{ sorry_page.code }} /etc/haproxy/sorry_pages/{{ sorry_page.file }}
{%   endfor %}
{% endif -%}

{%   for server in backend.servers %}
server {{ server.name }}
{%-    if simulation %} {{ ansible_host }}:
{%-      if backend.encryption | default(false) -%}
8082 check
{%       else -%}
8081 check
{%       endif -%}
{%-    else %}
 {{ server.ip }}:{{ server.port }}
{%-      if server.check_port is defined %}
 check port {{ server.check_port }} {{ server.settings | default('') }}
{%-      else %}
 {{ server.settings | default('check') }}
{%-      endif %}
{%     endif +%}
{%   endfor %}

{% endif %}
{% endfor %}


# Note that the connections to the server backends are unencrypted, to allow the Palo
# Altos to inspect traffic. This is a trade-off; best practices would suggest encrypting
# the traffic to the backends, but then the Palos wouldn't be able to inspect it.
