### This file is deployed by Iris ###
# It is applied by iptables-restore

*filter
:INPUT ACCEPT
:FORWARD ACCEPT
:OUTPUT ACCEPT
COMMIT

*nat
:PREROUTING ACCEPT
:INPUT ACCEPT
:OUTPUT ACCEPT
:POSTROUTING ACCEPT

{% for individual_instance in individual_instances %}
# Port mapping for {{ individual_instance }}
{% for host_port, container_port in hostvars[individual_instance].all_port_map.items() %}
-A PREROUTING -m addrtype --dst-type LOCAL -p tcp -m tcp --dport {{ host_port }} -j DNAT --to-destination {{ hostvars[individual_instance].container_ip }}:{{ container_port }}
{% endfor %}

{% endfor %}
-A POSTROUTING -s 172.17.0.0/16 ! -o docker0 -j MASQUERADE
COMMIT
