[defaults]
# Extend timeouts; eg. the default timeout for sudo is 12s, which is shorter
# than the sudo timeout for a failing DNS query.
timeout=180
# Increase the default number of (maximum) forks; per the documentation, the
# default 5 is "very very conservative" and values of 50 and 500 are mentioned.
forks=50
# enable profiling
callbacks_enabled = ansible.posix.profile_tasks, ansible.posix.profile_roles
# Use Ansible-preferred Python interpreter rather than /usr/bin/python where
# both present
interpreter_python = auto
# This variable needs to be set for executing playbooks from subfolders
# ${PWD}/roles will be used for local ansible executions form ansible/ directory
# ${PWD}/ansible/roles will be used for ansible executions on agents.
roles_path = ${PWD}/roles:${PWD}/ansible/roles
# This variable needs to be set for executing playbooks from subfolders
# ${PWD}/filter_plugins will be used for local ansible executions form ansible/ directory
# ${PWD}/ansible/filter_plugins will be used for ansible executions on agents.
filter_plugins = ${PWD}/filter_plugins:${PWD}/ansible/filter_plugins

[inventory]
# enable inventory plugins, default: 'host_list', 'script', 'auto', 'yaml', 'ini', 'toml'
enable_plugins = host_list, yaml, ini

[ssh_connection]
pipelining = true
ssh_args = -o Compression=no -o ControlMaster=auto -o ControlPersist=5m -o GSSAPIAuthentication=no
