[defaults]
# Increase the default number of (maximum) forks; per the documentation, the
# default 5 is "very very conservative" and values of 50 and 500 are mentioned.
forks=50
# Use Ansible-preferred Python interpreter rather than /usr/bin/python where
# both present
interpreter_python = auto

[inventory]
# enable inventory plugins, default: 'host_list', 'script', 'auto', 'yaml', 'ini', 'toml'
enable_plugins = host_list, yaml

[ssh_connection]
pipelining = true
ssh_args = -o Compression=no -o ControlMaster=auto -o ControlPersist=5m -o GSSAPIAuthentication=no
