error_log  /etc/nginx/error.log;
worker_rlimit_nofile 8192;

events {
  worker_connections  4096;  ## Default: 1024
}

http {
  index    index.html;

{% for status in status_codes | default([]) %}
  server {
    listen 80;
    server_name
    {%- for test in tests_list | default([]) -%}
      {%- if status == test.status and not test.ssl %} {{ test.host }}
      {%- endif -%}
    {%- endfor -%};
    root /public;
    allow all;
    return {{ status }};
  }
{% endfor %}
  server {
    listen 443 ssl;
    server_name
    {%- for test in tests_list | default([]) -%}
      {%- if test.ssl %} {{ test.host }}
      {%- endif -%}
    {%- endfor -%};
    {% for cert in certs_list | default([]) -%}
    ssl_certificate /certs/{{ cert }}.pem;
    ssl_certificate_key /certs/{{ cert }}.pem;
    {% endfor -%}
    root /public;
    allow all;
  }
}